html {
    font-family: "Consolas", Courier, monospace;
    color: white;
}

body {
    margin: 0px;
    background-image: url("../beach2_compress.jpg");
}

.neon {
    color: rgb(255, 255, 255);
    // filter: drop-shadow(0px 0px 2px rgb(250, 201, 55));
}

a {
    text-decoration: none;
}

.link-text {
    color: white;
    text-align: center;
    transition: color 0.5s ease;
}

.link-text:hover {
    color: white;
    filter: drop-shadow(0px 0px 1px);
}

.pane {
    background-color: rgba(0, 0, 0, 0.85);
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


