html {
    font-family: "Consolas", Courier, monospace;
    overflow-y: hidden;
    color: white;
}

body {
    margin: 0px;
    background-color: black;
}

.neon {
    color: rgb(255, 255, 255);
    filter: drop-shadow(0px 0px 2px rgb(247, 204, 204));
    transition: color 0.5s ease;
}

.neon:hover {
    color: rgb(247, 181, 181);
    filter: drop-shadow(0px 0px 3px);

}

a {
    text-decoration: none;
}

.link-text {
    color: white;
    font-size: 3rem;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
